<div class="row justify-content-center my-2">
  <div class="col-md-3 border">
    <div class="text-start fw-bold my-2">Forgot Password</div>
    <div class="col-md-12"><hr /></div>
    <div class="form-group my-2">
      <form [formGroup]="passwordCheckForm">
        <div class="row my-2">
          <div class="col-md-12">
            <input
              formControlName="email"
              id="email"
              type="email"
              placeholder="Email"
              class="form-control"
            />
            <div
              *ngIf="passwordCheckForm.get('email')?.['touched'] && passwordCheckForm.get('email')?.['invalid']"
              class="alert alert-danger"
            >
              <div *ngIf="passwordCheckForm.get('email')?.errors?.['required']">
                Email is required
              </div>
              <div *ngIf="passwordCheckForm.get('email')?.errors?.['email']">
                Please Enter a valid Email
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-12">
            <input
              formControlName="newPassword"
              id="newPassword"
              type="password"
              placeholder="New Password"
              class="form-control"
            />
            <div
              *ngIf="passwordCheckForm.get('newPassword')?.['touched'] && passwordCheckForm.get('newPassword')?.['invalid']"
              class="alert alert-danger"
            >
              <div
                *ngIf="passwordCheckForm.get('newPassword')?.errors?.['required']"
              >
                New Password is required
              </div>
              <div
                *ngIf="passwordCheckForm.get('newPassword')?.errors?.['pattern']"
              >
                A minimum 8 characters password should contains a combination of
                uppercase ,lowercase letter, number and special characters.
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-12">
            <input
              formControlName="confirmPassword"
              type="password"
              placeholder="Confirm Password"
              class="form-control"
            />
            <div
              *ngIf="passwordCheckForm.get('confirmPassword')?.['touched'] && passwordCheckForm.get('confirmPassword')?.['invalid']"
              class="alert alert-danger"
            >
              <div
                *ngIf="passwordCheckForm.get('confirmPassword')?.errors?.['required']"
              >
                Please Enter Confirmed Password
              </div>
            </div>
            <div
              *ngIf=" passwordCheckForm.get('confirmPassword')?.['touched'] && !passwordCheckForm.get('confirmPassword')?.['invalid']"
            >
              <div
                class="alert alert-danger"
                *ngIf=" passwordCheckForm?.errors?.['passwordNotMatch']"
              >
                Passwords do NOT match!
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary fw-bold form-control">
          Reset Password
        </button>
        <div class="text-center my-1">
          Or <span><a routerLink="/Login">Login</a></span>
        </div>
      </form>
    </div>
  </div>
</div>
